<nav class="bottom-nav">
  <ul>
    <li><%= link_to profile_path do %>
      <i class="fas fa-user"></i>
    <% end %></li>

    <li><%= link_to dashboard_path do %> <!-- ✅ va vers /dashboard -->
      <i class="fas fa-th-list"></i>
    <% end %></li>

    <li><%= link_to feed_path do %> <!-- ✅ va vers /feed -->
      <i class="fas fa-users"></i>
    <% end %></li>

    <li><%= link_to mybooks_path do %>
      <i class="fas fa-book"></i>
    <% end %></li>

    <li><%= link_to wishlist_path do %>
      <i class="fas fa-heart"></i>
    <% end %></li>
  </ul>
</nav>
