<!DOCTYPE html>
<html>
  <head>
    <title>Bookloop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless (devise_controller? && (controller_name == 'sessions' || controller_name == 'registrations' || controller_name == 'passwords')) || (controller_name == 'pages' && action_name == 'splash') %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= render "shared/flashes" %>

    <%= yield %>

    <!-- ⚡ Stimulus app start -->
    <%= javascript_include_tag "controllers", type: "module" %>
  </body>
</html>

